In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import chardet

E-Commerce business analysis


Data Source: E-commerce platforms' data dumps or Kaggle datasets.
Project Idea: Analyze user behavior on the site, product performance, and sales trends. Recommend strategies to increase sales based on patterns observed.
1) Data Cleaning and Exploration
2) Feature Engineering
(Feature Selection, Dimensionality Reduction etc.)
3) Model Building (Logistic Regression, Random Forest Classifier, XGBoost Classifier & Neural Network)
4) Hyperparameter Tuning for better model performance
5) Ensemble Techniques (Stacked Models, Bagging, Boosting).
# 6. Business Recommendations
Based on the above models, we can recommend following products to customers based on their shopping history.
## Product Recommendation System using Logistic Regression
### Steps involved in building a product recommendation system with logistic regression are as follows:-

In [2]:
rawdata = open("C:/Users/Operator/Desktop/CODING/Python/.ipynb_checkpoints/DataHouse/eCommerce/data.csv", "rb").read()
result = chardet.detect(rawdata)
charenc = result['encoding']
df = pd.read_csv("C:/Users/Operator/Desktop/CODING/Python/.ipynb_checkpoints/DataHouse/eCommerce/data.csv", encoding=charenc)

In [3]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [4]:
df.describe

<bound method NDFrame.describe of        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  12/9/2011 12:50       0.85     12680.0          France
541905  12/9/2011 12:50       2.10     12680.0          France
541906  12/9/2011 12:50       4.15     12680.0          France
541907  12/9/2011 12:50       4.15     12680.0          France
541908  12/9/2011 12:50       4.95     12680.0          France

[541909 rows x 8 columns]>

InvoiceNo:

Count of unique invoices to determine the number of transactions.
Analysis of frequency: How often do customers make purchases?
StockCode:

Determine the number of unique products.
Identify top-selling products based on quantity.
Description:

This might be tied to StockCode, so you can use it for more descriptive analysis.
Text analysis (if descriptions are varied) to find common words or terms.
Quantity:

Identify which products are the most popular in terms of quantity sold.
Identify any outliers (like exceptionally high or negative quantities).
Average quantity of products sold per transaction.
InvoiceDate:

Time series analysis to track sales over time.
Seasonality analysis: Are there specific times of the year, month, or week where sales spike?
Trends: Are sales increasing or decreasing over time?
UnitPrice:

Price distribution of products.
Identify most expensive vs. least expensive products.
Correlation between price and quantity sold.
CustomerID:

Number of unique customers.
Frequency of purchases per customer.
Average spend per customer.
Country:

Sales distribution by country.
Average transaction value by country.
Quantity of products sold by country.

In [5]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [6]:
df.UnitPrice.max()

38970.0