In [2]:
import numpy as np
import sys

In [3]:
a= np.array(['f','k', 7])

print(a)

['f' 'k' '7']

In [4]:
b= np.array([[9, 2,8],["fidelia","Mahukazuva","klxn"]])

print(b)

[['9' '2' '8']
 ['fidelia' 'Mahukazuva' 'klxn']]

In [5]:
print(a.ndim)
print(b.ndim)

1
2

In [6]:
b.dtype

dtype('<U11')

Accessing / Changing elements , rows, columns etc

In [7]:
newArray= np.array([[1,2,2,2,2,5,],[5,6,7,8,9,0]])

print(newArray)

[[1 2 2 2 2 5]
 [5 6 7 8 9 0]]

In [8]:
#Getting a specific element[r, c]

newArray[1,4]

9

In [9]:
#get specific row

newArray[1:]

array([[5, 6, 7, 8, 9, 0]])

In [10]:
#get a specific column

newArray[:,1]

array([2, 6])

In [11]:
# start index -> end index -> step size

newArray[0:1:5]

array([[1, 2, 2, 2, 2, 5]])

Initialising different types of arrays

In [12]:
#all zeros matrix

np.zeros((3,3,3))

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [13]:
# all ones array

np.ones((4,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [14]:
#any other number

np.full((2,3), 11)

array([[11, 11, 11],
       [11, 11, 11]])

In [15]:
#random decimal numbers

np.random.rand(4,2)

array([[0.24616142, 0.00652027],
       [0.59061553, 0.75469379],
       [0.09488156, 0.77260736],
       [0.68080581, 0.43583825]])

In [17]:
output= np.ones((5,5))
print(output)

z= np.zeros((3,3))
z[1,1]=9
print(z)

output[1:-1,1:-1]=z

print(output)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
[[0. 0. 0.]
 [0. 9. 0.]
 [0. 0. 0.]]
[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 9. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

In [19]:
a=np.array([1, 2,3])

b=a.copy()

print(b)

[1 2 3]

Mathematics

In [20]:
a+2

array([3, 4, 5])

In [21]:
a+b

array([2, 4, 6])

In [22]:
a*2

array([2, 4, 6])

Linear Algebra

In [23]:
a=np.ones((2,3))

b=np.full((3,2),2)
print(b)

[[2 2]
 [2 2]
 [2 2]]

Statistics

In [24]:
stats=np.array([[12, 2,3],[8,9,0]])
stats

array([[12,  2,  3],
       [ 8,  9,  0]])

In [25]:
np.min(stats)

0

In [26]:
np.max(stats)

12

reorganising arrays

In [29]:
before=np.array([8,9,0],[0,9,0])
print(before)

after=before.reshape((2,3))
print(after)

TypeError: Field elements must be 2- or 3-tuples, got '0'

In [30]:
#vertically stacking vectors

v1=np.array([1,2,2,])
vz=np.array([6,6,9])

np.stack([v1,vz,v1,vz])

array([[1, 2, 2],
       [6, 6, 9],
       [1, 2, 2],
       [6, 6, 9]])

Miscellanous

Boolean Masking and advanced Indexing

In [31]:
newList=np.array([1,2,46,67,8930,0])

newList>50

array([False, False, False,  True,  True, False])