Pandas python data analysis library

In [1]:
import pandas as pd

In [16]:
df=pd.read_csv("C:/Users/Operator/Desktop/NUST/DTA/iris/IRIS.csv")
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
df["sepal_length"].max()

7.9

In [4]:
df['sepal_length'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64>

In [5]:
friends=pd.DataFrame({'first name': ["maya", "fidelia","elsie", "joy"]})
friends

  first name
0       maya
1    fidelia
2      elsie
3        joy

In [6]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [7]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [8]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [9]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [10]:
df['petal_length'].std

<bound method NDFrame._add_numeric_operations.<locals>.std of 0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal_length, Length: 150, dtype: float64>

In [11]:
df[df.sepal_length==6]

     sepal_length  sepal_width  petal_length  petal_width          species
62            6.0          2.2           4.0          1.0  Iris-versicolor
78            6.0          2.9           4.5          1.5  Iris-versicolor
83            6.0          2.7           5.1          1.6  Iris-versicolor
85            6.0          3.4           4.5          1.6  Iris-versicolor
119           6.0          2.2           5.0          1.5   Iris-virginica
138           6.0          3.0           4.8          1.8   Iris-virginica

In [12]:
df[df.sepal_length==0]

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

In [13]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [17]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.median

<bound method NDFrame._add_numeric_operations.<locals>.median of      sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [19]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [20]:
df.shape

(150, 5)

Retrieving data from a data frame

In [21]:
flower_data_dict= {
   'sepal_length' : [3, 4.0,8,0],
   'sepal_width' :  [4, 5,6.0,9],
   'petal_length' : [3,7,9,0],
  'petal_width'  : [9.0,2.3, 4.0,9],
 '  species '     : [9,3,4,8], 
}

In [22]:
df.at[10,'sepal_length']

5.4

In [23]:
df.sample(15)

     sepal_length  sepal_width  petal_length  petal_width          species
64            5.6          2.9           3.6          1.3  Iris-versicolor
133           6.3          2.8           5.1          1.5   Iris-virginica
137           6.4          3.1           5.5          1.8   Iris-virginica
5             5.4          3.9           1.7          0.4      Iris-setosa
68            6.2          2.2           4.5          1.5  Iris-versicolor
136           6.3          3.4           5.6          2.4   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica
71            6.1          2.8           4.0          1.3  Iris-versicolor
88            5.6          3.0           4.1          1.3  Iris-versicolor
93            5.0          2.3           3.3          1.0  Iris-versicolor
98            5.1          2.5           3.0          1.1  Iris-versicolor
79            5.7          2.6           3.5          1.0  Iris-versicolor
11            4.8          3.4           1.6          0.2      Iris-setosa
56            6.3          3.3           4.7          1.6  Iris-versicolor
23            5.1          3.3           1.7          0.5      Iris-setosa

Analysing Data from data frames

In [25]:
total_sepal_length= df.sepal_length.sum()
total_sepal_length

876.5

querying and sorting data

In [26]:
max_sepal_length= df.sepal_length> 5
max_sepal_length

0       True
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: sepal_length, Length: 150, dtype: bool