In [2]:
type(7)

int

Strings

In [13]:
name= "fidelia"

newLine="""kdwckancakncakcna,kc
kasnc asknc aklvcadlcklcaC """ #multiline string

print(name)
print(newLine)

fidelia
kdwckancakncakcna,kc
kasnc asknc aklvcadlcklcaC

In [3]:
#strings are Arrays

newString=input('TELL ME YOUR NAME')
print(newString)
print(newString[1])

age= 13
#integer data type variable declaration and initialization.
name =newString
#string assignment to name variable using input() function
txt= "My name is {} . i am {} years old"
print(txt.format(name, age))

fidelia
i
My name is fidelia . i am 13 years old

Python numbers

-int: These are integer values. They can be of any length, only limited by the available memory. For example, 10, 3, 45, etc.

float: These are floating-point numbers, or real numbers, which have a decimal point in them. For example, 3.14, 10.55, etc.

complex: These are complex numbers, with a real part and an imaginary part. For example, 3+4j.

bool: This is a subtype of integers. They are used to represent boolean values True (which corresponds to 1) and False (which corresponds to 0).

Decimal: These are decimal floating point numbers. They are present in the decimal module. They offer more precision and a smaller range than the float data type.

Fraction: This data type is used for rational number arithmetic. They are present in the fractions module. They hold a numerator and a denominator in their simplest form.

In [8]:
x= 1
y= 2.9
z= 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

strings in python

In [9]:
a=float(z)
b=complex(x)
c= y

print(a)
print(b)
print(c)

TypeError: can't convert complex to float

In [12]:
import random

print(random.randrange(0,100))

69

Python Lists

Lists are an in built data type in Python
which can store a collection of items
data types like integers, floats, strings, and booleans, as well as more complex types like other lists, tuples, sets, dictionaries, and custom objects.
. Here's an example:
```python
my_list = [1, 2, 'three', True]
print(type(my_list)) # Output: <class 'list'>

In [8]:
newList= ["jane", "mary", 12, 19]
print(type(newList))
print(len(newList))

my_list = [1, 2.0, "three", [4, 5], {"six": 6}, True]

print(my_list)

<class 'list'>
4
[1, 2.0, 'three', [4, 5], {'six': 6}, True]

In [12]:
# Create a list
my_list = [1, 2, 3, 'four', 5.0, [6, 7]]

# Access an element of the list
print(my_list[3])  # Output: 'four'

# Modify an element of the list
my_list[3] = 'fourth'
print(my_list)  # Output: [1, 2, 3, 'fourth', 5.0, [6, 7]]

# Add an element to the end of the list
my_list.append('end')
print(my_list)  # Output: [1, 2, 3, 'fourth', 5.0, [6, 7], 'end']

# Remove an element from the list
my_list.remove('end')
print(my_list)  # Output: [1, 2, 3, 'fourth', 5.0, [6, 7]]

#removing at specified index
print(my_list.pop(1))
# List slicing
print(my_list[2:5])  # Output: [3, 'fourth', 5.0]

#List inserting at a specified index
my_list.insert(-4,'inserted value here!')
print (my_list)

four
[1, 2, 3, 'fourth', 5.0, [6, 7]]
[1, 2, 3, 'fourth', 5.0, [6, 7], 'end']
[1, 2, 3, 'fourth', 5.0, [6, 7]]
2
['fourth', 5.0, [6, 7]]
[1, 'inserted value here!', 3, 'fourth', 5.0, [6, 7]]

Tuples

In [1]:
tuple1= (7, 2,0, 9, 7, 6,0,6)

print(tuple1)
print(tuple1[1])
print(len(tuple1))
print(tuple1[-3])
print(tuple1[2:])

thistuple = ("john", "Mary", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

else:
  print("subject not found")

  #to change a tuple
  tuple2= list(tuple1)
  tuple2[2]= "kiwi"
  tuple1=tuple(tuple2)

  print(tuple1)

(7, 2, 0, 9, 7, 6, 0, 6)
2
8
6
(0, 9, 7, 6, 0, 6)
subject not found
(7, 2, 'kiwi', 9, 7, 6, 0, 6)

SETS

In Python, a set is an unordered collection of unique elements. Sets are iterable, mutable, and have no duplicate elements. Pythonâ€™s set class represents the mathematical notion of a set.

In [8]:
set1= {"apple", 9, 'a', True}

print(set1)
print(len(set1))
for x in set1:
    print (x)

set1.add('F')
print(set1)

#To add items from another set into the current set, use the update() method.

set2= { "fidelia", 12, "girl"}

set1.update(set2)

print(set1)

#remove()  , discard() , pop() , clear () methods removes items from a set

print(set1.remove("fidelia"))
print(set1.pop())
print(set1.discard('1'))
print(set1.clear())

{9, 'apple', 'a', True}
4
9
apple
a
True
{True, 'a', 9, 'F', 'apple'}
{True, 'a', 'fidelia', 9, 12, 'F', 'girl', 'apple'}
None
True
None
None

DICTIONARIES

Dictionaries in Python are a kind of collection data type that stores mappings of unique keys to values. Dictionaries are mutable, which means they can be changed, and they are also dynamic, which means they can grow and shrink as needed. Dictionaries are also known as associative arrays or hash maps in other programming languages.

In [11]:
dict1={"name":"fidelia", "age": 19, "school": "NUST"}

print(dict1)
print(dict1["age"])
print(dict1.keys)
print(dict1.items)
print(dict1.keys)

{'name': 'fidelia', 'age': 19, 'school': 'NUST'}
19
<built-in method keys of dict object at 0x000001F109FFFC80>
<built-in method items of dict object at 0x000001F109FFFC80>
<built-in method keys of dict object at 0x000001F109FFFC80>